# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.sublime-*
.DS_Store

*.lst
*.eep
*.elf
*.lss
*.map
*.sym
.dep
*.hex

*.vpj
*.vpw
*.vpwhistu
*.zip
*.vtg


mathtest

pkg/*
build_release.sh

util/fwupdated.rb

util/template/fwupdated_template.png

version

*.rid

publish_beta_release.sh

publish_release.sh

.cproject

.project
